
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<link href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" rel="stylesheet" />

<div class="row form-group">
    <div class="col-md-12">
        <div class="dashboard-title">
            <h3>Agency List</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9 text-right">
        <a class="btn btn-info" href="~/Admin/CreateAgency">Add Agency</a>
    </div>
</div>

<div class="row margin-top30 form-horizontal">
    <div class="col-md-12">
        <div class="section-col-box">

            <div class="row form-group">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped" id="myTable" width="100%">
                            <thead>
                                <tr>
                                    <th>Agency Type</th>
                                    <th>Name</th>
                                    <th>Number</th>
                                    <th class="action_100">Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(document).ready(function () {

        $('#myTable').DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": false, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "searching": false,

            "ajax": {
                //"url": "/Admin/GetAgencies",
                "url": "@Url.Action("GetAgencies", "Admin")",
                "type": "Get",
                "datatype": "json"
            },
            "columns": [
                 { "data": "AgencyTypeName", "name": "AgencyTypeName", "orderable": false },
                { "data": "Name", "name": "Name", "orderable": false },
                { "data": "Number", "name": "Number", "orderable": false },
                { "data": "AgencyId", "name": "AgencyId", "orderable": false },
            ],
            "columnDefs": [{
                "targets": 3,
                "data": "download_link",
                "render": function (data, type, full, meta) {
                    //return '<a href=/Admin/EditAgency?AgencyId=' + data + ' title="Edit" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>  <a href=/Admin/DeleteAgency?AgencyId=' + data + ' title="Delete" class="btn btn-danger btn-xs"><i class="fa fa-close"></i></a>'
                    return '<a href=/Admin/EditAgency?AgencyId=' + data + ' title="Edit" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Edit</a> <button onclick="deleteAgency(' + data + ')" title="Delete" class="btn btn-danger btn-xs"><i class="fa fa-close"></i> Delete</button>'
                }
            }],
        });

    });

    function deleteAgency(agencyId) {

        bootbox.confirm({
            message: "Are you sure you want to delete this agency?",
            title: "Delete Agency",
            buttons: {
                confirm: {
                    label: '<i class="fa fa-check"></i> Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: '<i class="fa fa-times"></i> No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: '@Url.Action("DeleteAgency", "Admin")',
                        type: 'Get',
                        //contentType: "application/json; charset=utf-8" ,
                        //contentType: "application/x-www-form-urlencoded; charset=UTF-8", // this is the default value, so it's optional
                        dataType: "json",
                        data: { agencyId: agencyId },
                        success: function (useCount) {
                            if (useCount > 0) {
                                toastr.error("You can not delete this agency because this is being used in " + useCount + " " + (useCount == 1 ? "request" : "requests"));
                            }
                            else {
                                toastr.success('Agency deleted successfully.');
                                setTimeout(function () {
                                    window.location.href = "/Admin/Agency";
                                }, 1500);
                            }
                        },
                        error: function (data) {

                        }
                    })
                }
            }
        })


    }

</script>