<div class="row margin-top30 form-horizontal">
    <div class="col-md-12">
        <div class="section-col-box">
            <div class="row form-group">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped" id="myTable" width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                            <thead>
                                <tr>
                                    <th style="padding:7px 15px; border:1px solid #ddd; background:#337ab7; color:#fff; font-family:'Lato', sans-serif;">Project Log Number</th>
                                    <th style="padding:7px 15px; border:1px solid #ddd; background:#337ab7; color:#fff; font-family:'Lato', sans-serif;">Date</th>
                                    <th style="padding:7px 15px; border:1px solid #ddd; background:#337ab7; color:#fff; font-family:'Lato', sans-serif;">Project Name </th>
                                    <th style="padding:7px 15px; border:1px solid #ddd; background:#337ab7; color:#fff; font-family:'Lato', sans-serif;">Applicant Name</th>
                                    <th style="padding:7px 15px; border:1px solid #ddd; background:#337ab7; color:#fff; font-family:'Lato', sans-serif;">County</th>
                                    <th style="padding:7px 15px; border:1px solid #ddd; background:#337ab7; color:#fff; font-family:'Lato', sans-serif;">Lead Agency</th>
                                    <th style="padding:7px 15px; border:1px solid #ddd; background:#337ab7; color:#fff; font-family:'Lato', sans-serif;">Project Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                #######
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

